{% extends "blog/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">

{% block content %}
  <div class="content">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p>Don’t have an account? <a href="{% url 'register' %}">Register</a></p>
  </div>
{% endblock %}
