{% extends "blog/base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<script src="{% static 'blog/js/auth.js' %}" defer></script>

{% block content %}
  <div class="auth-card">
    <h1>Create an account</h1>
    <h2>Register</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </div>
{% endblock %}
